﻿<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>LectureOnlineSite</title>
<script type="text/javascript">
</script>
<style type="text/css">
  
  body,p,h1,h2,h3,h4,h5,h6,ul,cl,ol,li,dl,dt,dd,table,th,td,form,fieldset,
legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
cl,ol{list-style:none}
cl{float:left;_border:1px;list-style:none}
cl li{float:left;width:250px;height:200px;}
.instructor_name{font-size:20px;font-weight:bold; width:120px; height:30px; background:green; margin-left:30px}
ul{width:1000px;height:30px;background:black;list-style:none;padding-top:20px}
ul li{float:left;margin-left:80px;font-family:dotum}
ul li a{font-size:14px;color:yellow;font-weight:bold;text-decoration:none}
ul rl{float:right;margin-right:30px}
.white a{color:#fff}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
#wrap{float:left;width:100%}
.gnb{float:left;width:100%;height:30px;background:#fbfbfb}
.gnb a{float:left;}
.gnb_center{width:135px;margin:5px auto}
.gnb_right{width:1000px;margin:5px auto}
.gnb_center ul{float:left;}
.gnb_center ul li{float:left;margin-right:10px;}
.gnb_right ol{float:right;}
.gnb_right ol li{float:left;margin-right:10px;}
#container{width:1000px;margin:0 auto}
#header{float:left;width:1000px;_border:1px solid blue}
#header h1{float:left;margin-left:400px;color:#000000;font-size:40px}
.menu{float:left;width:1000px;height:60px;background:#000000}
.left{float:left;width:980px;height:100%;_border:1px solid blue}
.left_content1{float:left;width:980px;height:100%;margin-top:10px;background:#edeef0}

.right{float:left;width:330px;margin:10px 0 0 20px}
.right_content2,.right_content7{float:left;width:330px;height:140px;margin-bottom:10px;background:#f8f8f8; _border:1px dotted red;_border-radius:700px}
#footer{float:left;width:1000px;height:30px;margin:10px 0 30px 0;background:#e1e1e1}
p{font-size:20px;}
  span{font-size:20px;}
.leftmargin{margin-left:50px}
  
  
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('img/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}

</style>
</head>
  <body style="height:1000px">
<div id="wrap">
	
	<div id="container">
		<div id="header">
			<h1>재능 마켓</h1>
		</div>
		<div class="gnb">
			<div class="gnb_right">
				<ol>
					<li>Login</li>
					<li>/</li>
					<li>Register</li>
				</ol>
			</div><!-- gnb_center -->
		</div>
      <div class="menu" style="margin-bottom:10px">
			<ul>
				
				<li><a href="http://www.naver.com"><p class="leftmargin">Home</p></a></li>
				<li><a href="#"><p>강의</p></a></li>
				<li><a href="#"><p>강사</p></a></li>
				<rl class="white"><a href="#">마이페이지</a></li></rl>
				<rl class="white"><a href="#">장바구니</a></li></rl>		
				
			</ul>
		</div>
    <div style="font-size:40px;margin:50px;margin-top:1px;margin-bottom:1px" >
    강의평가 상세
  </div>
    <div style="font-size:25px;margin:100px;margin-top:5px; margin-bottom:30px" >
    JSP와 서블릿
  </div>
  <p style="margin-left:100px; bold">Comment
  <div>

  <table>
    <td> <div id="lecture"style="border: 1px solid blue; width:400px; min-height:100px; overflow: auto; margin-left:100px">
      <textarea name="inputstr2"type="text" style="width:100%;height:200px;font-size:30px">
            
      </textarea>
 </div></td>
    <td>

   </td>  </table>
  </div>
    <div style="margin-left:100px">
          <table>
        			<colgroup>
						<col width="150">
						<col width="*">
					</colgroup>
                  <tr>

						<th>별점</th>
						<td>  <span class="star-input">
	<span class="input">
    	<input type="radio" name="star-input" value="1" id="p1" checked>
    	<label for="p1">1</label>
    	<input type="radio" name="star-input" value="2" id="p2" checked>
    	<label for="p2">2</label>
    	<input type="radio" name="star-input" value="3" id="p3" checked>
    	<label for="p3">3</label>
    	<input type="radio" name="star-input" value="4" id="p4" checked>
    	<label for="p4">4</label>
    	<input type="radio" name="star-input" value="5" id="p5" checked>
    	<label for="p5">5</label>
  	</span>
  	<output for="star-input"><b>0</b>점</output>						
</span>
                    </td>
					</tr>
					<tr>

                      <td align="center" colspan="2"><input type="submit" value="확인" style="font-size:20px"></td>
					</tr>
        </table>
</div>
  <script src="js/jquery-1.11.3.min.js"></script>
<script src="js/star.js"></script>
  
</body>
</html>
